.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
}

.management-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 150px;
    background-color: white;
    z-index: 5;
}

.management-navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    min-width: 100%;
    background-color: antiquewhite;
}